// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$tamago-white: #e1eef6;
$tamago-red: #ff5f2e;
$tamago-yellow: #fcbe32;
$tomago-black: #004e66;